In [117]:
import numpy as np
import pandas as pd

In [118]:
dataset = pd.read_csv('./dataset/heart_disease_data.csv')

In [119]:
dataset.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [120]:
dataset.duplicated().sum()

1

In [121]:
dataset.drop_duplicates(inplace = True)

In [122]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 302 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    int64
 1   sex       302 non-null    int64
 2   cp        302 non-null    int64
 3   trestbps  302 non-null    int64
 4   chol      302 non-null    int64
 5   fbs       302 non-null    int64
 6   restecg   302 non-null    int64
 7   thalach   302 non-null    int64
 8   exang     302 non-null    int64
 9   oldpeak   302 non-null    float64
 10  slope     302 non-null    int64
 11  ca        302 non-null    int64
 12  thal      302 non-null    int64
 13  target    302 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 35.4 KB

In [123]:
dataset.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,302.00000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000,302.000000
mean,54.42053,0.682119,0.963576,131.602649,246.500000,0.149007,0.526490,149.569536,0.327815,1.043046,1.397351,0.718543,2.314570,0.543046
std,9.04797,0.466426,1.032044,17.563394,51.753489,0.356686,0.526027,22.903527,0.470196,1.161452,0.616274,1.006748,0.613026,0.498970
min,29.00000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.00000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.250000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.50000,1.000000,1.000000,130.000000,240.500000,0.000000,1.000000,152.500000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.00000,1.000000,2.000000,140.000000,274.750000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.00000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [124]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [125]:
X = dataset.iloc[:,:-1].values
Y = dataset.iloc[:, -1].values

In [126]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state= 0)

In [127]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [128]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score

In [129]:
lrc = LogisticRegression()
svc = SVC(kernel='rbf')
gnb = GaussianNB()
dtc = DecisionTreeClassifier(criterion = 'entropy')
knc = KNeighborsClassifier(n_neighbors = 5, metric='minkowski', p = 2)
rfc = RandomForestClassifier(n_estimators = 50, criterion= 'entropy')
abc = AdaBoostClassifier(n_estimators=50)
xgb = XGBClassifier(n_estimators=50)

In [130]:
clfs = {
    'LR': lrc, 
    'SVC' : svc,
    'NB': gnb, 
    'DT': dtc, 
    'KN' : knc, 
    'RF': rfc,
    'AdaBoost': abc, 
    'xgb': xgb
}

In [131]:
def train_classifier(clf, X_train, Y_train, X_test, Y_test):
    clf.fit(X_train,Y_train)
    y_pred = clf.predict(X_test)
    print(clf.predict(sc.transform([[62,0,0,140,268,0,0,160,0,3.6,0,2,2]])),"predicted Value")
    accuracy = accuracy_score(Y_test,y_pred)
    precision = precision_score(Y_test,y_pred)
    confusion = confusion_matrix(Y_test,y_pred)
    return accuracy, precision, confusion

In [132]:
accuracy_scores = []
precision_scores = []
confusion_scores = []

for name,clf in clfs.items():
    current_accuracy,current_precision, current_confusion = train_classifier(clf, X_train,Y_train,X_test,Y_test)
    print("For name" , name)
    print("For Accuracy" , current_accuracy)
    print("For Precision" , current_precision)
    print("For Confusion" , current_confusion)
    accuracy_scores.append(current_accuracy)
    precision_scores.append(current_precision)
    confusion_scores.append(current_confusion)

[0] predicted Value
For name LR
For Accuracy 0.8688524590163934
For Precision 0.8611111111111112
For Confusion [[22  5]
 [ 3 31]]
[0] predicted Value
For name SVC
For Accuracy 0.9344262295081968
For Precision 0.96875
For Confusion [[26  1]
 [ 3 31]]
[0] predicted Value
For name NB
For Accuracy 0.9016393442622951
For Precision 0.9117647058823529
For Confusion [[24  3]
 [ 3 31]]
[0] predicted Value
For name DT
For Accuracy 0.7377049180327869
For Precision 0.7647058823529411
For Confusion [[19  8]
 [ 8 26]]
[1] predicted Value
For name KN
For Accuracy 0.9180327868852459
For Precision 0.9393939393939394
For Confusion [[25  2]
 [ 3 31]]
[0] predicted Value
For name RF
For Accuracy 0.8524590163934426
For Precision 0.9032258064516129
For Confusion [[24  3]
 [ 6 28]]
[0] predicted Value
For name AdaBoost
For Accuracy 0.9180327868852459
For Precision 0.9393939393939394
For Confusion [[25  2]
 [ 3 31]]
[0] predicted Value
For name xgb
For Accuracy 0.8032786885245902
For Precision 0.84375
For Confusion [[22  5]
 [ 7 27]]

In [133]:
performance_df = pd.DataFrame({'Algorithm': clfs.keys(), "Accuracy" : accuracy_scores, "Precision" : precision_scores,"Confusion": confusion_scores})

In [134]:
performance_df

  Algorithm  Accuracy  Precision           Confusion
0        LR  0.868852   0.861111  [[22, 5], [3, 31]]
1       SVC  0.934426   0.968750  [[26, 1], [3, 31]]
2        NB  0.901639   0.911765  [[24, 3], [3, 31]]
3        DT  0.737705   0.764706  [[19, 8], [8, 26]]
4        KN  0.918033   0.939394  [[25, 2], [3, 31]]
5        RF  0.852459   0.903226  [[24, 3], [6, 28]]
6  AdaBoost  0.918033   0.939394  [[25, 2], [3, 31]]
7       xgb  0.803279   0.843750  [[22, 5], [7, 27]]